body {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  font-family: "Monaco";
}

.grid {
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  height: 311px;
  width: 364px;
}

.square,
.circle {
  height: 50px;
  width: 50px;
}

.square {
  border: 1px solid;
}

.huPlayer {
  background-color: #f012be;
  border-radius: 70%;
}

.aiPlayer {
  background-color: #2ecc40;
  border-radius: 70%;
}

#result {
  color: red;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ffdc00;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: #cfd506;
}

button:active {
  background-color: #ffdc00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

p {
  width: 350px;
  overflow-wrap: break-word;
}
